.headerCol {
    background: rgb(var(--background-end-rgb));
    color: rgb(var(--foreground-1-rgb));
    border-bottom: 1px solid rgb(var(--border-1-rgb));
}

.headerCol h1 {
    font-size: 2rem;
    margin: 3rem 0 0.25rem;
}

.headerCol h1 span {
    display: block;
    font-size: 6rem;
    line-height: 0.75;
}

.main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}