.bottomBar {
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;

    border-top: 1px solid rgb(var(--theme-color-1-rgb));

    font-size: 0.8rem;
}

.ul {
    margin: 0;
    padding-left: 0;
    list-style: none;

    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    
}

.ul li {
    margin: 0.5rem 0;
}

.name {
    display: inline-block;
    margin-left: 0.5rem;
}

.p {
    text-align: center;
}