.firstCol {
    background-color: rgb(var(--background-end-rgb));
}

.preTitleWrap {
    padding-top: 1rem;
}

.preTitle {
    font-size: 1.6rem;
    display: inline-block;
    color: rgb(var(--theme-color-4));
}